.wrapper {
  position: relative;
  width: 100%;
  img {
    width: 100%;
    object-fit: cover;
  }
  button {
    position: absolute;
    top: calc(100% - 60px);
    left: 50%;
    transform: translateX(-50%);
    padding: 0.6rem 1rem;
    color: white;
    border: none;
    background: rgb(20, 20, 20);
    text-transform: uppercase;
    cursor: pointer;
    font-weight: bold;
  }
}
